# dependencies
node_modules/

# builds
dist/
build/

# env
.env
.env.local

# logs
*.log

# OS
.DS_Store
Thumbs.db

# excel / datos sensibles
# backend/data/*.xlsx

# vite cache
.vite

# coverage
coverage
